name: CI
on:
  workflow_call:
    inputs:
      build-args:
        type: string
        required: true
      artifact:
        type: string
        required: true
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Install additional tools
      run: cargo install project
    - name: Install Rust nightly
      run: rustup toolchain install nightly
    - name: Install Rust components
      run: rustup component add rust-src llvm-tools
    - name: Build
      run: project build ${{ inputs.build-args }}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.build-args }}
        path: kernel-dumper.bin
