name: CI
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  pre-build:
    name: Pre-build
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Install Rust nightly
      run: |
        rustup toolchain install nightly
        rustup component add --toolchain nightly rustfmt
    - name: Check Rust styles
      run: cargo fmt --check
  build-1100:
    name: Build (11.00)
    uses: ./.github/workflows/build.yml
    with:
      build-args: '11.00'
      artifact: '11.00'
    needs: pre-build
  build-1152:
    name: Build (11.52)
    uses: ./.github/workflows/build.yml
    with:
      build-args: '11.52'
      artifact: '11.52'
    needs: pre-build
